b {
  font-size: 30px;
  opacity: 1.0;
}

nav {
  background-color: #D1C0A8;
}

nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #D1C0A8;
      opacity: 0.7;
  }

nav li {
    float: right;
    opacity: 1.0;
    font-size: 1.2em;
  }
    
nav a {
    display: block;
    text-align: center;
    padding: 26px 38px;
    text-decoration: none;
    color:black;
    position: relative; 
  }
  
  nav a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background: black; 
    transition: width 0.3s ease; 
  }
  
  nav a:hover::after,
  nav a.active::after {
    width: 100%; 
  }

footer {
    background-color:  #E9E4D4;
    padding: 20px;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer img {
    display: inline-block; 
    vertical-align: top; 
    padding-right: 30px;
    padding-left: 30px;
    float: left; 
    margin-right: 30px;
    border-radius: 30%;
}

footer.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sitemap, .ContactUs, .Helpful {
    display: inline-block; 
    vertical-align: top; 
    margin: 0 30px; 
    text-align: left; 
    position: relative; /
}

.sitemap a, .ContactUs a, .Helpful a {
    text-decoration: none;
    color: black;
    font-size: 1.1em; 
    position: relative; 
}

.sitemap a::after, .ContactUs a::after, .Helpful a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 2px; 
    background: black; 
    transition: width 0.3s ease; 
}

.sitemap a:hover::after, .ContactUs a:hover::after, .Helpful a:hover::after {
    width: 100%; 
}

footer ul {
    list-style-type: none;
    padding-left: 0; 
}

.credit {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.credit hr {
    background-color: black;
    height: 2px;
    border: none;
}

h2 {
    font-weight: bold;
}